*{
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: justify;
}
::-webkit-scrollbar{
    width: 0px;
}
#scroll{
    position: fixed;
    top: 0vh;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 0px white;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher{
    to{
        box-shadow: 0px 0px 100px white;
        top: calc(100vh - 10px);
    }
}
#bg-black{
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    position: fixed;
    opacity: 1;
}
#bg{
    background-image: url("media/bg.png");
    background-size:cover;
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: -1;
    opacity: 0.2;
}
#nav{
    background: linear-gradient(#000000 30%,transparent 100%);
}
#nav-nav{
    text-shadow: 0px 0px 10px orange;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: calc(1px /1);
    font-size: 25px;
}
.navbar-nav{
    display: flex;
    width: 50vw;
    position: absolute;
    justify-content: space-evenly;
    right: 0vw;
    flex-wrap: nowrap;
}
.navbar-brand{
    position: relative;
    left: 2vw;
}
.navbar-toggler.expanded{
    box-shadow: none;
    transition: 400ms linear;
    transform: rotate(180deg);
}
.navbar-toggler.collapsed{
    transition: 400ms linear;
    transform: rotate(0deg);
    box-shadow: none;
}
.dropdown-item:hover{
    background-color: rgba(84, 79, 79, 0.623);
    border-radius: 20px;
}
.dropdown-menu{
    background-color: rgba(38, 37, 37, 0.793);
}
#logo-text{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    inset: 0;
    grid-column: 1/-1;
    animation: logos-animation linear;
    animation-timeline: view();
    animation-range: exit;
}
#logos{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes logos-animation{
    70%{
        opacity: 0;
    }
    100%{
        scale: 8;
        opacity: 0;
    }
}
#x{
    font-size: 3vw;
    padding: 5vw;
}
.logf{
    width: 20vw;
    margin: 0px 0px 0px 10vw;
}
#log{
    width: 30vw;
}
@media(max-width:500px){
    #logos{
        padding-right: 10vw;
    }
    #x{
        font-size: 6vw;
    }
    .logf{
        width: 30vw;
    }
    #log{
        width: 45vw;
    }
}
#description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vh 5vw 70px 5vw;
    font-size: 3vw;
}
#first-description{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#logo-description{
    padding: 2vw 5px;
}
strong{
    font-size: 60px;
}
#days{
    padding: 30px 0px 0px 2vw;
}
#day-badge{
    font-weight: 100;
    font-size: larger;
}
@media(min-width:1500px){
    #description{
        font-size: 1.5vw;
    }
    strong{
        font-size: 30px;
    }
}
@media(max-width:500px){
    #days{
        padding: 15px 0px 0px 6vw;
    }
    strong{
        font-size: 30px;
    }
}
#second-description{
    padding-left: 15vw;
}
#invitation{
    padding: 40px 5vw;
}
#poster{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.poster{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: 580px;
}
a{
    text-decoration: none;
}