*{
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: justify;
}
::-webkit-scrollbar{
    width: 0px;
}
#scroll{
    position: fixed;
    top: 0vh;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 0px white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher{
    to{
        box-shadow: 0px 0px 20px white;
        top: calc(100vh - 20px);
    }
}
#hue{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background: conic-gradient(blue ,aqua , green, yellow, orange, red, blue);
    animation: rotate linear;
    animation-timeline: scroll();
}
@keyframes rotate{
    20%{
        transform: rotate(-360deg);
    }
    40%{
        transform: rotate(-720deg);
    }
    60%{
        transform: rotate(-1080deg);
    }
    80%{
        transform: rotate(-1440deg);
    }
    100%{
        transform: rotate(-1800deg);
    }
}
.ring{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}
#ring1{
    border-bottom: 2px solid blue;
    animation: rotate1 1s linear infinite;
}
@keyframes rotate1{
    from{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
#ring2{
    border-right: 2px solid red;
    animation: rotate2 1s linear infinite;
}
@keyframes rotate2{
    from{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
#ring3{
    border-top: 2px solid green;
    animation: rotate3 1s linear infinite;
}
@keyframes rotate3{
    from{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
#bg-logo{
    background-color: transparent;
    width: 0vw;
    height: 0vh;
    opacity: 0;
}
@keyframes bg-logo-fade{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.3;
    }
    95%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}
@supports(animation-timeline: scroll()){
    #bg-logo{
        background-color: transparent;
        height: 100vh;
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: -1;
        opacity: 0;
        animation: bg-logo-fade linear;
        animation-timeline: scroll();
    }
}
#iiitbbsr{
    font-size: 30px;
    transform: rotate(-90deg);
    position: absolute;
    top: calc(300px + 120vh);
    left: -170px;
    opacity: 0.6;
    z-index: -1;
}
@media(max-width:600px){
    #iiitbbsr{
        font-size: 20px;
        top: calc(240px + 100vh);
        left: -100px;
    }
}
#bg-black{
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    position: fixed;
    opacity: 1;
}
#bg{
    background-image: url("media/bg.png");
    background-size:cover;
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: -1;
    opacity: 0.2;
}
#nav{
    background: linear-gradient(#000000 30%,transparent 100%);
    font-size: 20px;
}
.navbar-nav{
    display: flex;
    width: 50vw;
    position: absolute;
    justify-content: space-evenly;
    right: 0vw;
    flex-wrap: nowrap;
}
@media(max-width:575px){
    .navbar-nav{
        background-color: rgba(38, 39, 39, 0.808);
        border-radius: 10px;
        width: 160px;
    }
    #nav-nav{
        padding-left: 25px;
    }
}
.navbar-brand{
    position: relative;
    left: 2vw;
}
.navbar-toggler.expanded{
    box-shadow: none;
    transition: 400ms linear;
    transform: rotate(180deg);
}
.navbar-toggler.collapsed{
    transition: 400ms linear;
    transform: rotate(0deg);
    box-shadow: none;
}
.dropdown-item:hover{
    background-color: rgba(84, 79, 79, 0.623);
    border-radius: 20px;
}
.dropdown-menu{
    background-color: rgba(20, 20, 20, 0.793);
}
@media(max-width:500px){
    #logos{
        padding-right: 10vw;
    }
    #x{
        font-size: 6vw;
    }
    .logf{
        width: 30vw;
    }
    #log{
        width: 45vw;
    }
}
@keyframes logos-animation{
    70%{
        opacity: 0;
    }
    100%{
        scale: 8;
        opacity: 0;
    }
}
#logo-text{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    inset: 0;
    grid-column: 1/-1;
}
@media(min-width:600px){
    #logo-text{
        animation: logos-animation linear;
        animation-timeline: view();
        animation-range: exit;
    }
}
#logos{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
#x{
    font-size: 3vw;
    padding: 5vw;
}
.logf{
    width: 20vw;
    margin: 0px 0px 0px 10vw;
}
#log{
    width: 30vw;
}
#description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0vh 5vw 70px 5vw;
    font-size: 3vw;
    position: relative;
}
#first-description{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#logo-description{
    padding: 2vw 5px;
}
#date{
    font-size: 25px;
    background-color: transparent;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    right: 0px;
    opacity: 0.8;
}
@media(max-width:600px){
    #date{
        font-size: 15px;
        bottom: 10px;
        right: 10px;
    }
}
strong{
    font-size: 30px;
}
#days{
    padding: 30px 0px 0px 2vw;
}
#day-badge{
    font-weight: 100;
    font-size: larger;
}
@media(min-width:900px){
    #description{
        font-size: 1.5vw;
    }
    strong{
        font-size: 60px;
    }
}
@media(max-width:500px){
    #days{
        padding: 15px 0px 0px 6vw;
    }
    strong{
        font-size: 30px;
    }
}
#second-description{
    padding-left: 15vw;
}
#invitation{
    padding: 40px 5vw;
}
#poster{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@keyframes poster-animation{
    0%{
        opacity: 0;
        scale: 0.7;
    }
    20%{
        opacity: 1;
        scale: 1;
    }
    70%{
        opacity: 1;
        scale: 1;
    }
    100%{
        opacity: 0;
        scale: 0.7;
    }
}
@keyframes invitation-animation{
    0%{
        opacity: 0;
        scale: 0;
    }
    45%{
        opacity: 1;
        scale: 1;
    }
    70%{
        opacity: 1;
        scale: 1;
    }
    70%{
        opacity: 1;
        scale: 1;
    }
}
.poster{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
    height: 580px;
}
@supports(animation-timeline: view()){
    .poster{
        animation: poster-animation linear;
        animation-timeline: view();
    }
    #invitation{
        animation: invitation-animation linear;
        animation-timeline: view();
        
    }
}
@media(max-width:1000px){
    .poster{
        padding: 30px 40px;
    }
}
a{
    text-decoration: none;
}